.background.background-white
	.container
		h2 ふうせんの森　～ちょうどよく、うかぶ　きもちよく、うかぶ～
		p はこだてみらい館にふうせんの森ができました。
		|ふうせんの森には様々な大きさの風船が 150 コ浮かんでいます。
		|みどりいろの素材で作ったものを風船で浮かべてみましょう。<br><br>

		h3 企画・監修：山添Joseph勇(美術家/深沢アート研究所)
		|現代の子供の「つくる」を研究し、子供造形教室や子供造形ワークショップの実施、子供造形プログラム制作などを主な滑動とする美術家。<br><br>
		
		h4 深沢アート研究所：
			a(href="http://www.hukalabo.com/") &lt;http://www.hukalabo.com/ &gt;
		p 2017年に山添Joseph勇とカブ(美術家/緑化研究者)により、美術館やアートイベントなどで現代アートを基軸とした滑動をするアートユニット。
	.container
		p