.background.background-white
	.container
		h2 activity
		.flex-pic-container
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
