.background.background-white
	.container
		h2 ちょうどよく浮かんだ風船たち
		.flex-pic-container
			.flex-pic-item
				img.item(src="img/activity-baloon.png")
			.flex-pic-item
				img.item(src="img/activity-baloon.png")
			.flex-pic-item
				img.item(src="img/activity-baloon.png")
			.flex-pic-item
				img.item(src="img/activity-baloon.png")
			.flex-pic-item
				img.item(src="img/activity-baloon.png")
			.flex-pic-item
				img.item(src="img/activity-baloon.png")
		