.background.background-gray
	.container
		h2 ちょうどよく浮かんだ風船たち
		.flex-pic-container
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
			.flex-pic-item
