doctype html
html(lang="ja")
  head
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet")
  body
    canvas#canvas このページはCanvasを使用しています。
    #topview
      .cartoon
        img.item(src="img/baloon01.jpg")
        img.item(src="img/baloon02.jpg")
        img.item(src="img/baloon03.jpg")
        img.item(src="img/baloon04.jpg")
      h1 ふうせんの森
      p.subTitle ちょうどよく、うかぶ。<br>
        | きもちよく、うかぶ。
      .poster
        p.date 11月3日〜12月10日
        p.place はこだてみらい館
    script (function() {'use strict';})();
    script(src="js/main.js")
