doctype html
html(lang="ja")
  head
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
  body
    canvas#canvas このページはCanvasを使用しています。
    #topview
      .cartoon
        img.item(src="img/baloon01.jpg")
        img.item(src="img/baloon02.jpg")
        img.item(src="img/baloon03.jpg")
        img.item(src="img/baloon04.jpg")
      h1 ふうせんの森
      p.subTitle ちょうどよく、うかぶ。<br>
        | きもちよく、うかぶ。
      .poster
        p.date 11月3日〜12月10日
        p.place はこだてみらい館
    include about.pug
    include playground.pug
    include activity.pug
    include information.pug
    include footer.pug
    #page-top.page-top
      img(src="img/backToTop.svg")
    #modal.modal-hide
      p
      img(src="img/baloon01.jpg")
      p ×
    //- <script>
    //- var path = "<?php echo get_template_directory_uri();?>";
    //- </script>
    script (function() {'use strict';})();
    script#mainjs(src="js/main.js" path="<?php echo get_template_directory_uri();?>")
