.background.background-gray
	.container
		h2 アクセス・ごれんらく
		iframe(src="https://www.google.com/maps/d/embed?mid=1mUylVVj0RMzRIvoalkNCDq93P-M" width="100%" height="400")
		.info-item 
			h4 会場
			p はこだてみらい館 <br> 〒040-0063 北海道函館市若松町20番1号 キラリス函館3F
		.info-item 
			h4 開館時間
			p 10:00~20:00(入場は19:30まで)
		.info-item 
			h4 休館日	
			p 年末年始(12/31,1/1) , 館内整理日(毎月第２水曜日)
		.info-item 
			h4 施設入館料
			p 大人600円, 小中高生 300円, 未就学児無料 <br> ※施設入館料についての詳細は
				a(href="http://hakodate-miraiproject.jp/FCH/#info_headTitle") こちら(新しいタブで開きます)

		p <br><br>〒040-0063 北海道函館市若松町20番1号 キラリス函館3F
		| TEL 0138-26-6000
		|はこだてみらい館公式ホームページにて、情報をご確認ください。<br>
		a(href="http://hakodate-miraiproject.jp/FCH/" target="_brank") http://hakodate-miraiproject.jp/
